<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Jensens ApS kontakt</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/produktkatalog">Produktkatalog</a></li>
                <li><a href="/omos">Om os</a></li>
                <li><a href="/">Hjem</a></li>
            </ul>
        </nav>
        <h1 class="Jensens-logo">Jensens ApS</h1>
    </header>

    <div class="fotocontainer">
        <img src="static/foto/bygning.png" alt="firmaet">
    </div> 
    <h3 class="Kontakt"><u>Kontakt os:</u></h3>  
    <p class="oplysninger">        
        Jensens ApS<br>
        Grønsundsvej 37<br>
        4780 Stege<br>
        Telefon:<br>
        +45 55814214<br>
        Email:<br>
        Jensens@Jensensaps.com        
    </p>
    

    <footer>
        <p>Jensens ApS - Dansk kvalitet siden 1973 </p>
    </footer>
</body>

</html>