<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Jensens ApS Om os</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/produktkatalog">Produktkatalog</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/">Hjem</a></li>
            </ul>
        </nav>
        <h1 class="Jensens-logo">Jensens ApS</h1>
    </header>

    <div class="fotocontainer">
        <img src="static/foto/mon.jpg" alt="Møn">
    </div>    
    <p class="omos">        
        Jensens ApS ligger på Møn i Danmark. 
        På denne enestående ø, der byder på spektakulær natur og charme, ligger vores famileejet møbelfirma. 
        Vi skaber træmøbler af høj kvalitet, samtidig med at vi værner om vores dedikerede medarbejdere. 
        Med stolthed bringer vi Møns æstetik og kærlighed til naturen ind i vores produkter.
    </p>

    <footer>
        <p>Jensens ApS - Dansk kvalitet siden 1973 </p>
    </footer>
</body>

</html>