<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Jensens ApS Produktkatalog</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/omos">Om os</a></li>
                <li><a href="/">Hjem</a></li>
            </ul>
        </nav>
        <h1 class="Jensens-logo">Jensens ApS</h1>
    </header>

    <div class="fotocontainer">
        <img src="static/foto/bord.jpg" alt="bord">
    </div>    

    <h3 class="produkter">Her ses et udvalg af tidligere møbler</h3>  

    <div class="container">
        <div class="box">
            <img src="static/foto/i282037939692949120._szt5_.jpg" alt="Billede 1">
        </div>
        <div class="box">
            <img src="static/foto/i282037939695635135._szt5_.jpg" alt="Billede 2">
        </div>
        <div class="box">
            <img src="static/foto/i282037939695636604._szt5_.jpg" alt="Billede 3">
        </div>
        <div class="box">
            <img src="static/foto/i282037939695637020._szt5_.jpg" alt="Billede 4">
        </div>
        <div class="box">
            <img src="static/foto/i282037939695637166._szt5_.jpg" alt="Billede 5">
        </div>
        <div class="box">
            <img src="static/foto/i282037939695919398._szt5_.jpg" alt="Billede 6">
        </div>
        <div class="box">
            <img src="static/foto/i282037939695920069._szt5_.jpg" alt="Billede 7">
        </div>
        <div class="box">
            <img src="static/foto/i282037939695960900._szt5_.jpg" alt="Billede 8">
        </div>
        <div class="box">
            <img src="static/foto/OIP.jpg" alt="Billede 9">
        </div>
    </div>

    <footer>
        <p>Jensens ApS - Dansk kvalitet siden 1973 </p>
    </footer>
</body>

</html>